                

<h2 class="card-header text-center">Edit Your Post</h2>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-7">
            <label>Title</label>
            <input id="update-title" class="form-control" type="text" id="title" value="{{post.title}}">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-7">
            <label>Content</label>
            <input id="update-content" class="form-control" type="text" id="content" value="{{post.content}}">
        </div>
    </div>
    <div class="container-fluid" style="width: 30%">
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-dark" id="update-post">Update Post</button>
        </div>
        <div class="row text-center">
            <a href="/dashboard" class="post-id" value="{{post.post_id}}" style="color:red" id="delete-btn">Delete Post</a>
        </div>
    </div>
</div>